/* #region common rules */

:root{
    --clr-bg-primary:#009688;
    --clr-bg-secondary:#DBDBD2;
    --clr-secondary-light:#EAEAEA;
    --clr-controls:#B1B1B1;
    --clr-user-msg:#D5F9BA;
    --clr-white:#FFFFFF;
    --clr-push:#8EDAFC;
    --clr-push-transparent:#4F7485;
}

body{
    height:100vh;
}

.top{
    height:15vh;
    background-color: var(--clr-bg-primary);
}

main{
    height:100vh;
    background-color: var(--clr-bg-secondary);
}

/* #endregion common rules */

/* #region debug */
.debug .user_interface{
    background-color: red;
}

.debug .col-lg-3{
    background-color: lightgreen;
}
.debug .col-lg{
    background-color: lightcoral;
}
.debug .controls{
    background-color: lightblue;
}
/* #endregion debug */


/* #region main */
main img{
    height:60px;
}
main .col{
    height:90vh;
}
main .controls{
    height:10vh;
}
.user_interface{
    height:90vh;
    position:relative;
    bottom:100px;
    max-width: 1440px;
}

/* left-side */

.controls i{
    font-size:1.3rem;
    color:var(--clr-controls);
}
.left .controls{
    background-color: var(--clr-secondary-light);
}

.app_push{
    background-color: var(--clr-push);
}
.bell{
    width:60px;
    aspect-ratio:1;
    border-radius: 50%;
}
.bell i{
    font-size:1.5rem;
    color: var(--clr-push);
}
.app_push span:last-of-type{
    color:var(--clr-push-transparent);
}
/* #endregion main */